.rounded-container {
    background-color: rgb(13, 14, 20);

    margin-top: 10px;
    margin-left: 450px;

    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;

    border: 8px solid rgb(17, 26, 39);
    border-radius: 15px;

    width: 350px;
    height: 635px;
}

.lower-importance {
    color: rgb(141, 141, 141);
    font-size: 0.8rem;
}

.margin-left {
    margin-left: 8px;
}

.margin-right {
    margin-right: 8px;
}

.simple-container {
    background-color: rgb(13, 16, 19);
    border: 5px solid rgb(27, 38, 56);
    border-radius: 5px;
    width: 285px;

    margin-left: 28px;

    padding: 10px;
}